.honeyList {
  padding: 60px 0;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--light-white);
  background: var(--bg-gray-main);
}

@media screen and (max-width: 768px) {
  .honeyList {
    padding: 30px 0;
  }
}
